<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.blog.mapper.HashtagMapper">
    <insert id="save" parameterType="Hashtag" useGeneratedKeys="true" keyProperty="id">
        insert into hashtag(name) values (#{name})
    </insert>
    <delete id="deleteByName" parameterType="String">
        delete from hashtag where name = #{name}
    </delete>
    <select id="findByName" parameterType="String" resultType="Hashtag">
        select * from hashtag where name = #{name};
    </select>
    <select id="findAll" resultType="HashtagResponse">
        select hashtag.id as id,
               hashtag.name as name,
               count(*) as count
        from hashtag inner join post_tag pt on hashtag.id = pt.tag_id
        group by hashtag.id
        order by hashtag.id
    </select>
</mapper>