<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/BlogLayout}">
<th:block layout:fragment="title">
    <title>블로그 메인</title>
</th:block>
<th:block layout:fragment="add-css">
    <style>
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
        }
        @media (max-width: 991px) {
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 45px;
            }
        }
    </style>
</th:block>
<body>



<!--Main Navigation-->

        <th:block layout:fragment="content">
            <div class="input-group rounded my-3">
                <div class="col-3 me-1">
                    <select class="form-select rounded" id="searchType" name="searchType" title="검색 유형 선택">
                        <option value="">전체 검색</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                    </select>
                </div>
                <div class="col-8 d-flex">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="keyword" name="keyword" class="form-control" />
                            <label class="form-label" for="keyword">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='/post/list'">
                            <i class="fa fa-undo"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 글 쓰기 버튼 -->
            <p class="my-1 d-flex flex-row-reverse"><a th:href="@{/post/write}" class="btn btn-outline-info">글쓰기</a></p>
            <section class="text-center">
                <!-- Post -->
                <div th:if="${posts.isEmpty()}">
                    <h3>포스트가 존재하지 않습니다.</h3>
                </div>
                <div class="row row-cols-md-2 row-cols-lg-2">
                    <div class="col-lg-6 col-md-6 mb-4" th:each="post : ${posts}">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                                <a href="#">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${post.title}">Post title</h5>
                                <p class="card-text text-muted" th:text="${post.description}"></p>
                                <a th:href="@{/post/view(id=${post.id})}" class="btn btn-outline-primary">보러 가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Pagination -->
            <nav class="my-4" aria-label="...">
                <ul class="pagination pagination-circle justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">다음</a>
                    </li>
                </ul>
            </nav>
        </th:block>



<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">
    <div class="py-4 text-center">
        <a role="button" class="btn btn-primary btn-lg m-2"
           href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow" target="_blank">
            Learn Bootstrap 5
        </a>
        <a role="button" class="btn btn-primary btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank">
            Download MDB UI KIT
        </a>
    </div>

    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p>Follow MDB on social media</p>
        <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button"
           rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
           target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
           target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
           target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>


</footer>
<!--Footer-->
</body>
</html>