<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/BlogLayout}">
<th:block layout:fragment="title">
    <title th:text="${post.title}"></title>
</th:block>
<th:block layout:fragment="add-css">
    <!-- Toast Ui -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet"
          href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css"/>
    <link rel="stylesheet"
          href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css"/>
    <style>
        tags.tagify {
            border: none;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <section class="my-3">
        <h1 class="text-center" th:text="${post.title}"></h1>
        <div class="d-flex flex-column gap-2 mt-4">
            <p class="d-flex align-items-center">
                <span class="fw-bold me-1">정현 ·</span><span style="font-size: 13px"
                                                            th:text="${#temporals.format(post.createdDate,'yyyy년 M월 d일 HH시 mm분')}"></span>
            </p>
        </div>
        <div class="mb-5">
            해시태그: <input id="hashtag" name="hashtag"
                         th:unless="${hashtags.isEmpty()}" th:value="${#strings.listJoin(hashtags,',')}" readonly>
        </div>
        <div id="viewer"></div>
        <div class="d-flex gap-3 mt-4">
            <button type="button" onclick="goListPage();" class="btn btn-secondary me-auto">뒤로</button>
            <button th:if="${session.user != null && session.user.role.name() == 'USER'}" type="button" onclick="goWritePage();" class="btn btn-primary">수정</button>
            <button th:if="${session.user != null && session.user.role.name() == 'USER'}" type="button" onclick="deletePost();" class="btn btn-danger">삭제</button>
        </div>
    </section>
    <!-- 댓글 모달 -->
    <div class="modal fade" id="commentUpdateModal" tabindex="-1" aria-labelledby="commentUpdateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">댓글 수정</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-row align-items-center gap-2 mb-1" style="height:30px">
                                <input type="hidden" id="modalWriter" name="userId" th:value="${session.user != null} ? ${session.user.id} : ''"/>
                                <img th:src="${session.user != null} ? ${session.user.image} : ''" style="max-height: 30px" class="img-fluid rounded-9" alt="프로필"/>
                                <span class="text-center" th:text="${session.user != null} ? ${session.user.nickname} : ''"></span>
                            </div>
                            <textarea class="w-100" id="modalContent" name="content" onkeyup="countingModalLength(this);"
                                      rows="4" placeholder="댓글을 입력해 주세요."></textarea>
                            <div class="d-flex">
                                <i id="modalCounter" class="me-auto text-muted">0/300자</i>
                                <button id="commentUpdateBtn" type="button" class="btn btn-black">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section> <!-- 댓글 영역 -->
        <!-- 댓글 렌더링 영역 -->
        <div class="cm_list d-flex flex-column gap-1">

        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row align-items-center gap-2 mb-1" style="height:30px">
                    <input type="hidden" id="writerId" name="writerId" th:value="${session.user != null} ? ${session.user.id} : ''"/>
                    <img th:if="${session.user != null}" th:src="${session.user.image}"
                         style="max-height: 30px" class="img-fluid rounded-9" alt="프로필"/>
                    <span class="text-center" th:text="${session.user != null} ? ${session.user.nickname} : '로그인 후 이용 가능'"></span>
                </div>
                <textarea class="w-100" id="content" name="content" onkeyup="countingLength(this);"
                          rows="4" placeholder="댓글을 입력해 주세요."></textarea>
                <div class="d-flex">
                    <i id="counter" class="me-auto text-muted">0/300자</i>
                    <button th:if="${session.user != null}" type="button" class="btn btn-black" onclick="saveComment();">등 록</button>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="add-javascript">
    <!-- Color Picker -->
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- Editor's Plugin -->
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const {Editor} = toastui;
        const {codeSyntaxHighlight, colorSyntax} = Editor.plugin;
        window.onload = () => {
            createContent();
            findAllComment();
        }

        // 해시태그 라이브러리 Tagify 사용
        const input = document.getElementById('hashtag');
        let tagify = new Tagify(input);


        function createContent() {
            const content = [[${post.content}]];
            const viewer = Editor.factory({
                el: document.querySelector('#viewer'),
                viewer: true,
                height: '500px',
                initialValue: content,
                plugins: [codeSyntaxHighlight, colorSyntax]
            });
        }

        function goWritePage() {
            location.href = '/post/write' + location.search;
        }

        function deletePost() {
            const id = [[${post.id}]];
            if (!confirm(id + '번 포스트를 삭제할까요?')) {
                return false;
            }
            let inputHtml = '';
            new URLSearchParams(location.search).forEach((value, key) => {
                inputHtml += `<input type='hidden' name='${key}' value='${value}'/>`;
            })

            const formHtml = `<form id="deleteForm" action="/post/delete" method="post">
                                ${inputHtml}
                              </form>`;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
        }

        // 게시글 리스트 페이지로 이동
        function goListPage() {
            const queryString = new URLSearchParams(location.search);
            queryString.delete('id');
            location.href = '/post' + '?' + queryString.toString();
        }

        // 전체 댓글 조회
        function findAllComment() {
            const postId = [[${post.id}]];
            const uri = `/posts/${postId}/comments`;
            const commentList = callApi(uri,'','get');
            drawComments(commentList);
        }
        // uri 와 데이터를 보내면 요청을 get방식으로 전송하는 함수
        function callApi(uri, params,type) {
            let json = {}
            $.ajax({
                url : uri,
                type: type,
                dataType : 'json',
                contentType: 'application/json; charset=utf-8',
                data : JSON.stringify(params),
                async : false,
                success : function (response) {
                    json = response;
                },
                error: function (jqXHR) {
                    alert('오류가 발생했습니다.')
                }
            });
            return json;
        }

        // 댓글 HTML draw
        function drawComments(list) {
            console.log(list)
            if (!list.length) {
                document.querySelector('.cm_list').innerHTML = '<div><p>등록된 댓글이 없습니다.</p></div>';
                return false;
            }

            let commentHtml = '';
            let sessionId = [[${session.user == null} ? null : ${session.user.id}]];
            let role = [[${session.user == null} ? null : ${session.user.role}]];
            list.forEach(row => {
                commentHtml += `
                <div class="${row.depth === 2 ? 'ms-5' : ''}">
                <div class="d-flex flex-row gap-2 align-items-center">`
                commentHtml+= (row.depth === 2) ? `<i class="fa-solid fa-arrow-turn-up fa-rotate-90"></i>` : '';
                commentHtml+= `
                    <img src="${row.user.imageUrl}" class="img-fluid rounded-9" width="30" height="30" alt="기본 프로필 이미지"/>
                    <span class="me-auto">${row.user.nickname}</span>
                    <span class="text-muted" style="font-size:12px;">${dayjs(row.createdDate).format('YYYY-MM-DD HH:mm')}</span>
                </div>
                <div class="ms-4 mt-2 d-flex flex-row">
                    <p class="me-auto">${row.content}</p>`;
                commentHtml += (sessionId === row.user.id || row.user.role === role) ?`
                    <div class="btn-group-sm d-flex">
                        <button type="button" onclick="openModal(${row.id})" class="btn btn-outline-secondary">수정</button>
                        <button type="button" onclick="deleteComment(${row.id})" class="btn btn-outline-secondary">삭제</button>` : '';
                commentHtml += (sessionId === null) ?`
                    </div></div></div>`:`<button type="button" onclick="openReplyModal(${row.id})" class="btn btn-outline-secondary">답글달기</button></div></div></div>`;

            })
            document.querySelector('.cm_list').innerHTML = commentHtml;
        }

        function countingLength(content) {
            if (content.value.length > 300) {
                alert('댓글을 300자 이하로 입력해 주세요.');
                content.value = content.value.substring(0, 300);
                content.focus();
            }
            document.getElementById('counter').innerText = content.value.length + '/300자';
        }
        function countingModalLength(content) {
            if (content.value.length > 300) {
                alert('댓글을 300자 이하로 입력해 주세요.');
                content.value = content.value.substring(0, 300);
                content.focus();
            }
            document.getElementById('modalCounter').innerText = content.value.length + '/300자';
        }

        function saveComment() {
            const content = document.getElementById('content');
            if(content.value.length === 0) {
                alert("내용을 입력해주세요.");
                content.focus();
                return false;
            }

            const postId = [[${post.id}]];
            const writer = document.getElementById('writerId').value;
            const params = {
                postId: postId,
                content: content.value,
                userId: writer,
                parentId : 0,
                depth : 1
            }
            const uri = `/posts/${postId}/comments`;
            const response = callApi(uri, params,'post');
            alert(response.msg);
            content.value = '';
            document.getElementById('counter').innerText = '0/300자';
            findAllComment(); //댓글 입력 후 댓글의 1페이지를 봐야함
        }

        function deleteComment(commentId) {
            const postId = [[${post.id}]];
            const uri = `/posts/${postId}/comments/${commentId}`;
            const response = callApi(uri,"",'delete');
            alert(response.msg);
            findAllComment();
        }

        function openModal(id) {
            const postId = [[${post.id}]];
            const uri = `/posts/${postId}/comments/${id}`;
            const response = callApi(uri,"",'get');
            document.querySelector('#modal-title').innerText = '댓글 수정';
            document.getElementById('modalContent').value = response.content;
            document.getElementById('commentUpdateBtn').setAttribute('onclick',`updateComment(${id})`);
            $('#commentUpdateModal').modal('show');
        }

        function openReplyModal(id) {
            document.querySelector('#modal-title').innerText = '답글 달기';
            document.getElementById('modalContent').value = '';
            let commentModalBtn = document.getElementById('commentUpdateBtn');
            commentModalBtn.setAttribute('onclick',`saveReply(${id})`);
            commentModalBtn.innerText = '저장';
            $('#commentUpdateModal').modal('show');
        }

        function saveReply(id) {
            const postId = [[${post.id}]];
            const uri = `/posts/${postId}/comments`;
            const content = document.getElementById('modalContent');
            const modalWriter = document.getElementById('modalWriter');
            const params = {
                postId: postId,
                content: content.value,
                userId: modalWriter.value,
                parentId : id,
                depth : 2
            }
            let response = callApi(uri,params,'post');
            alert(response.msg);
            content.value = '';
            $('#commentUpdateModal').modal('hide')
            findAllComment();
        }

        function updateComment(id) {
            let modalContent = document.getElementById('modalContent');
            if(modalContent.value.length === 0) {
                alert("내용을 입력해주세요.")
                modalContent.focus();
                return false;
            }
            const postId = [[${post.id}]];
            const uri = `/posts/${postId}/comments/${id}`
            const params = {
                id : id,
                postId : postId,
                content : modalContent.value
            }
            let response = callApi(uri,params,'patch');
            alert(response.msg)
            $('#commentUpdateModal').modal('hide')
            findAllComment();
        }
        /*]]>*/
    </script>
</th:block>
</html>